<!--The content below is only a placeholder and can be replaced.-->



<input id="uploadBtn" type="file" (change)="readExcel($event)"
           class="upload input-common" required />

<button class="btn btn-sm btn-success" (click)="onSave()">下载</button>
<button class="btn btn-sm btn-success" (click)="onIpc()">Ipc</button>

<table class="sjs-table">
  <tr *ngFor="let row of data">
    <td *ngFor="let cell of row">
      <div class="cell" [ngStyle]="{'background-color': cell.fgColor}">{{cell.value}}</div>
    </td>
  </tr>
</table>


<!-- <table class="table">
  <tr *ngFor="let sch of schedules">
    <td [ngStyle]="{'background-color':sch.color}">{{sch.name}}</td>
    <td >{{sch.time}}</td>
  </tr>
</table> -->


<router-outlet></router-outlet>
